@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Georama:ital,wght@0,100..900;1,100..900&family=Honk&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Arsenal SC", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #d3c2ff;
  font-family: "Muli", sans-serif;
  height: 80vh;
}

h1 {
  background-color: #d3c2ff;
  height: 7vh;
  margin: 0;
  font-size: 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: #e4d9ff;
  height: 4vh;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

nav a {
  font-size: 30px;
}

a:hover {
  color: white;
}

.contact-container {
  display: block;
  align-items: center;
  justify-items: center;
}

.thank-you-section {
  text-align: center;
  width: 70vw;
  height: 40vh;
  margin: 5vh;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

#form {
  width: 600px;
  margin: 20vh auto 0 auto;
  margin-bottom: 30vh;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 4px;
  font-size: 40px;
}

#form h2 {
  color: black;
  text-align: center;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 99%;
  color: white;
  background-color: rgb(52, 52, 218);
  border: none;
  border-radius: 4px;
  font-size: 25px;
}

.input-control {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 100px;
}

.input-control input {
  border: 2px solid white;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: green;
}

.input-control.error input {
  border-color: red;
}

.input-control .error {
  color: red;
  font-size: 9px;
  height: 13px;
}

.footer-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #e4d9ff;
  height: 7vh;
}

i {
  font-size: 30px;
}

.footer-2 {
  background-color: #e4d9ff;
  text-align: center;
  font-size: 40px;
}

/* For screens that are 800px or less */
@media screen and (max-width: 800px) {
  @import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Georama:ital,wght@0,100..900;1,100..900&family=Honk&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

  * {
    box-sizing: border-box;
    margin: 0;
    font-family: "Arsenal SC", sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #d3c2ff;
    font-family: "Muli", sans-serif;
    height: 80vh;
  }

  h1 {
    background-color: #d3c2ff;
    height: 7vh;
    margin: 0;
    font-size: 60px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    background-color: #e4d9ff;
    height: 4vh;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }

  nav a {
    font-size: 30px;
  }

  a:hover {
    color: white;
  }

  .contact-container {
    display: block;
    align-items: center;
    justify-items: center;
  }

  .thank-you-section {
    text-align: center;
    width: 40vw;
    height: 65vh;
    margin: 5vh;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 35px;
  }

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  #form {
    width: 500px;
    height: 70vh;
    margin: 20vh auto 0 auto;
    margin-bottom: 30vh;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 40px;
  }

  #form h2 {
    color: black;
    text-align: center;
  }

  #form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(52, 52, 218);
    border: none;
    border-radius: 4px;
    font-size: 25px;
  }

  .input-control {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 100px;
  }

  .input-control input {
    border: 2px solid white;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
  }

  .input-control input:focus {
    outline: 0;
  }

  .input-control.success input {
    border-color: green;
  }

  .input-control.error input {
    border-color: red;
  }

  .input-control .error {
    color: red;
    font-size: 9px;
    height: 13px;
  }

  .footer-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #e4d9ff;
    height: 7vh;
  }

  i {
    font-size: 30px;
  }

  .footer-2 {
    background-color: #e4d9ff;
    text-align: center;
    font-size: 40px;
  }
}
